* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: grey;
}

.container {
  text-align: center;
}

main {
  width: 1200px;
  height: 200px;
  margin: 0 auto;
  margin-top: 35px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 500px;
  height: 420px;
  display: flex;
  flex-direction: column;
  border: 1px solid;
}
section .first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: beige;
  height: 35px;
}

section .second img {
  align-items: center;
  width: 290px;
}
section .second {
  text-align: center;
}
section .second p {
  margin-top: 35px;
  background-color: beige;
  padding: 10px;
}
