* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  text-align: center;
}

main {
  background-color: red;
  width: 800px;
  height: 200px;
  margin: 0 auto;
  margin-top: 35px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  background-color: blue;
  width: 500px;
  height: 390px;
  display: flex;
  flex-direction: column;
}
section .first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: chartreuse;
}
/* section .second {
  background-color: chocolate;
} */
section .second img {
  align-items: center;
  width: 290px;
}
section .third p {
  width: 100px;
}
